<div class="container">
  <h3>Resumo do Pedido</h3>

  <img class="img-desk" src="assets/images/mouse.png" alt="d">
  <img class="img-table" src="assets/images/mouse_table.png" alt="">
  <img class="img-mobile" src="assets/images/mouse_phone.png" alt="">

  <div>
    <h4>Mouse Gamer Redragon</h4>
    <div class="container__price">
      <h4 class="price">R$ 15,50</h4>
      <div class="count-container">
        <button>-</button>
        <span>2</span>
        <button>+</button>
      </div>
    </div>
  </div>

  <div class="container__ticket">
    <input type="text" placeholder="Cupom de Desconto">
    <button>Aplicar</button>
  </div>
  <div class="resume-price">
    <div class="container__resume-price">
      <span class="title">Taxa</span>
      <span class="rate">R$3,75</span>
    </div>
    <div class="container__resume-price">
      <span class="title">Envio</span>
      <span class="free">Gratis</span>
    </div>
    <div class="container__resume-price container__total">
      <span>Total</span>
      <span>R$ 30,44</span>
    </div>
  </div>
</div>