<div class="container">
  <h3>Resumo do Pedido</h3>

  <img class="img-desk" src="assets/images/mouse.png" alt="d">
  <img class="img-table" src="assets/images/mouse_table.png" alt="">
  <img class="img-mobile" src="assets/images/mouse_phone.png" alt="">

  <div>
    <h4>{{product.name}}</h4>
    <div class="container__price">
      <h4 class="price">R$ {{product.price}}</h4>
      <div class="count-container">
        <button (click)="decreaseCount()">-</button>
        <span>{{count}}</span>
        <button (click)="addCount()">+</button>
      </div>
    </div>
  </div>

  <div class="container__ticket">
    <input type="text" [(ngModel)]="couponCode" placeholder="Cupom de Desconto">
    <button (click)="applyCoupon()">Aplicar</button>
  </div>
  <div class="resume-price">
    <div class="container__resume-price">
      <span class="title">Taxa</span>
      <span [class]="tax == '0,00' ? 'free' : 'rate'">
        {{ tax | free }}
      </span>
    </div>
    <div class="container__resume-price">
      <span class="title">Envio</span>
      <span [class]="shipping == '0,00' ? 'free' : ''">
        {{shipping | free}}
      </span>
    </div>
    <div class="container__resume-price container__total">
      <span>Total</span>
      <span>{{ 'R$' + fullPrice }}</span>
    </div>
  </div>
</div>
