<main class="buy-account">
  <div class="buy-account__container">
    <div class="buy-account__container-left">
      <app-steps [Step]='step'></app-steps>
      <h4>Detalhes do envio</h4>
      <form [formGroup]="addressForm" class="container-information">
        <div>
          <span>Usar o endereço salvo</span>
          <select (change)="onAddressChange($event)">
            <option disabled selected value="">Selecione um endereço salvo</option>
            <option *ngFor="let savedAddress of savedAddressArray" [value]="savedAddress | json">
              {{ savedAddress.street }}, {{ savedAddress.number }}
            </option>
          </select>
        </div>
        <div>
          <label for="">Cidade</label>
          <input type="text" formControlName="city">
          <div *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched">
            <small class="error" *ngIf="addressForm.get('city')?.errors?.['required']">
              Cidade é obrigatória.
            </small>
            <small class="error" *ngIf="addressForm.get('city')?.errors?.['minlength']">
              Deve ter no mínimo 2 caracteres.
            </small>
          </div>
        </div>
        <div>
          <label for="street">Rua, Bairro</label>
          <input type="text" id="street" formControlName="street">
          <div class="error" *ngIf="addressForm.get('street')?.invalid && addressForm.get('street')?.touched">
            <small *ngIf="addressForm.get('street')?.errors?.['required']">
              Rua e Bairro são obrigatórios.
            </small>
            <small *ngIf="addressForm.get('street')?.errors?.['minlength']">
              Deve ter no mínimo 3 caracteres.
            </small>
          </div>
        </div>
        <div class="number-state-container">
          <div>
            <label for="number">Número</label>
            <input type="text" id="number" formControlName="number">
            <div class="error" *ngIf="addressForm.get('number')?.invalid && addressForm.get('number')?.touched">
              <small *ngIf="addressForm.get('number')?.errors?.['required']">
                Número é obrigatório.
              </small>
              <small *ngIf="addressForm.get('number')?.errors?.['pattern']">
                Deve ser número.
              </small>
            </div>
          </div>

          <div>
            <label for="">Estado</label>
            <input list="Estado" formControlName="state" />
            <datalist id="Estado">
              <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </datalist>
            <div class="error" *ngIf="addressForm.get('state')?.invalid && addressForm.get('state')?.touched">
              <small *ngIf="addressForm.get('state')?.errors?.['required']">
                Estado é obrigatório.
              </small>
              <small *ngIf="addressForm.get('state')?.errors?.['invalidState']">
                Estado inválido.
              </small>
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="user == []" class="container-buttons account-buttons">
        <button class="register-button">Registre-se para conta</button>
        <button class="green-button">Entrar</button>
      </div>
      <div [ngClass]="user ?'userExists' :'userNotExits'" class="container-buttons container-button-form">
        <button class="cancel-button">Cancelar Pedido</button>
        <button class="green-button" (click)="goToNextPage()">Continuar Comprando</button>
      </div>
    </div>
    <div class="buy-account__container-right">
      <app-order-summary [product]="product" tax="3"></app-order-summary>
    </div>
  </div>
</main>
