<main class="buy-account">
  <div class="buy-account__container">
    <div class="buy-account__container-left">
      <app-steps></app-steps>
      <div class="details">
        <h3 class="details__title">Detalhes da conta</h3>
        <div class="details__form-container">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" />
          </div>
          <div class="password_container">
            <label for="password">Senha</label>
            <input type="password" id="password" />
          </div>
          <div>
            <div class="container-buttons account-buttons">
              <button class="register-button">Registre-se para conta</button>
              <button class="green-button">Entrar</button>
            </div>
          </div>
          <div class="container-buttons container-button-form">
            <button class="cancel-button">Cancelar Pedido</button>
            <button class="green-button">Continuar Comprando</button>
          </div>
        </div>
      </div>
    </div>
    <div class="buy-account__container-rigth">left</div>
  </div>
</main>
