<main class="buy-account">
  <div class="buy-account__container">
    <div class="buy-account__container-left">
      <app-steps [Step]='step'></app-steps>
      <h4>Detalhes do Pagamento</h4>
      <div class="container-information">
        <div>
          <span>Usar o cartão salvo</span>
          <select name="" id="">
            <option value="">Evandro,121</option>
          </select>
        </div>
        <div>
          <span>Nome do cartão</span>
          <input type="text">
        </div>
        <div>
          <span>Nome do cartão</span>
          <input type="text">
        </div>
        <div class="expiration-cvc-container ">
          <div class="expiration-container">
            <span>Expiração</span>
            <div class="expiration">
              <input type="number">
              <div class="divider"></div>
              <input type="text">
            </div>
          </div>
          <div>
            <span>CVC</span>
            <input type="text">
          </div>
        </div>
      </div>
      <div class="container-buttons account-buttons">
        <button class="register-button">Registre-se para conta</button>
        <button class="green-button">Entrar</button>
      </div>
      <div class="container-buttons container-button-form">
        <button class="cancel-button">Cancelar Pedido</button>
        <button class="green-button">Continuar Comprando</button>
      </div>
    </div>
    <div class="buy-account__container-right">
      <app-order-summary [product]="product" tax="3"></app-order-summary>
    </div>
  </div>
</main>
