@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$brand-color: #269E6D;

$dark-10: #262626;
$dark-20:#414141;
$dark-30: #737373;
$dark-40: #ffff;


$font-family: "Inter", sans-serif;
